@import "base/variables";

//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway');

// //Foundation
// @import "base/foundation-settings";
// @import "foundation";
// @include foundation-everything;

//Components
.cartLogin {
  margin-left: 15px;
  font-family: Raleway;
  font-size: 1.5rem;
  color: black;
  float: right
};

.cartLogin:hover{
  color: orange;
};

.title{
  margin-top: 50px;
  text-align: center;
  font-family: Amatic SC;
  font-size: 8rem;
  cursor: point;
  color: black;

  &:hover {
    text-decoration: none;
    color: #4464AD;
  }
};

.font {
  font-family: Raleway;
}

.btn-outline-primary {
  color: black;
  border: 1px solid black;
}

.btn:focus {
  outline: 0 !important ;
  box-shadow: none;
}


.btn-outline-primary:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.btn-outline-primary.active, .btn-outline-primary:active, .show>.btn-outline-primary.dropdown-toggle {
  background-color: black;
  border: 1px solid black;
}

.menu-title {
  font-size: 20px;
}

.menu-category {
  font-size: 15px;
}

@media (max-width: 700px) {
  .menu-title {
    font-size: 30px;
  }

  .menu-category {
    font-size: 20px;
  }
}

.btn-group.btn-group-vertical > .btn {
  width: 300px;
}

/* making the border-radius correct */
.btn-group.btn-group-vertical > .btn:first-child {
  border-radius: 6px 6px 0 0;
}
.btn-group.btn-group-vertical > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 6px;
}
.btn-group.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 0 0 6px 6px;
}

.uploadForm {
  margin-top: 10px;
  margin-bottom: 10px;
}